<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/usercard.css" />
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="grid" id="list">
            <% for(var i=0; i<user.length; i++) { %>
                <% if (i >= Math.ceil(page) * 5 && i < Math.ceil((parseInt(page) + 1) * 5)) { %>
            <article class="card user-item">
                <header class="card__header">
                    <h1 class="user__title">
                        <%= user[i].firstname %>
                    </h1>
                </header>
                <div class="card__img">
                    <a href="/user/profile/<%= user[i].id %>"><img id="img" src="/uploads/photo[<%= user[i].id %>]_[0].jpeg" /></a>
                </div>
                <div class="card__content">
                        <p>Reports : <%= user[i].reports %></p>
                        <p>Age : <%= user[i].age %></p>
                        <p class="user__bio"> <%= user[i].bio %></p><br/>
                        <p class="user_interests"> <%= user[i].hashtags %></p>
                </div>
                <div class="section_like">
                        <a href="/admin/delete/<%=user[i].id %>/<%=fullpage %>">
                            <div class="delete">
                                <img class="thumbs" src="/img/hammer.svg" alt="delete" />
                            </div>
                        </a>
                    </div>
            </article>
            <% } %>
            <% } %>
            <section class="pagination">
                    <% if (page > 0)
                    { %>
                <a href="/admin/reports/0">first</a>
                <a href="/admin/reports/<%= eval(page) - 1 %>">prec</a>
                <% } %>
                <% if (page < Math.ceil(user.length/5) - 1) { %>
                <a href="/admin/reports/<%= eval(page) + 1 %>">next</a>
                <a href="/admin/reports/<%= Math.ceil(user.length/5) - 1 %>">last</a>
                <% } %>
            </section>
        </div>
    </main>
<%- include('../includes/end.ejs') %>
