<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>VISITS</h1>
    <div class="columns">
        <div class="column is-9">
            <p>My visits</p>
            <div class="media-content">
                <% for(var x=0; x<visit.length; x++) {%>
                <div><a href="/user/profile/<%= visit[x].user_id %>"><%= visit[x].username %></a> visited your profile <%= visit[x].count %> time(s).</div>
                <em>Last visit on <%= visit.formattedDate %></em>
                <% } %>
            </div>
<%- include('../includes/end.ejs') %>